$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

$dark:  #444444;
$light: #999999;
$blue:  #2DB6CF;
$white: #FFFFFF;

$playfair: Playfair Display, serif;
$helvetica: Helvetica, sans-serif;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #262626;
  font-family: $helvetica;
  padding: 0;
}

.d3-tip {
  font-size: 10px;
  width: 300px;
  text-align: center;
  background-color: $dark;
  color: #fff;
  padding: 15px;

}

.container {
  width: 735px;
  margin: 50px auto;
  background: whitesmoke;
  padding: 25px;
}

.myContainer{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.segues {
  .banner {
    background-color: #3498db;
    padding-top: 200px;
    padding-bottom: 200px;
    h1 {
      color: $white;
      font-family: $playfair;
      font-style: italic;
    }
  }
  .bannerOffset {
    background-color: #ecf0f1;
    padding-top: 75px;
    padding-bottom: 75px;
    h1 {
      color: #2c3e50;
      font-family: $playfair;
      font-style: italic;
    }
  }
}

.drivingStats {
  padding-bottom: 200px;
  color: #ecf0f1;
  h1 {
    padding-top: 30px;
    font-family: $playfair;
    font-style: italic;
    padding-bottom: 30px;
    text-transform: lowercase;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-family: $helvetica;
  }
  text {
    fill: #ecf0f1;
    font-family: $helvetica;
    font-weight: 100;
  }
  table th {
    text-align: center;
  }
  .floatLeft {
    float: left !important;
  }
  .dc-chart .axis path, .axis line {
    stroke: #ecf0f1 !important;
  }
}


.timeline {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ecf0f1;
  color: #2c3e50;
  h1 {
    padding-top: 30px;
    font-family: $playfair;
    font-style: italic;
    padding-bottom: 30px;
    text-transform: lowercase;
  }
  text {
    stroke: #2c3e50;
    fill: none;
    font-family: $helvetica;
    font-weight: 100;
  }
  .dc-chart .axis path, .axis line {
    stroke: #000 !important;
  }
}

.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: $helvetica;
  font-size: 12px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  &.dark {
    background: none repeat scroll 0 0 $dark;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $blue;
      color: $white;
    }
  }
  &.light {
    background: none repeat scroll 0 0 $light;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  &.blue {
    background: none repeat scroll 0 0 $blue;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
