<div ng-controller="MainCtrl">
	
	<section class="row segues">
		<div class="banner">
			<h1>would you <strike>drive</strike> ride </br > a self&ndash;driving car?</h1>
		</div>
	</section>
	 
	<section class="row segues">
		<div class="bannerOffset">
			<h1>well, do you drive a car now?</h1>
			<div class="row leftAlignedDiv">
					<div ng-click="move('yes')" class="button blue center">yes</div class="button">
					<div ng-click="move('no')" class="button light center">no</div class="button">
			</div>
		</div>
	</section>

	<section class="row drivingStats">
		<div ng-controller="DrivingStatsCtrl">
			<div class="row" id="drivingStart">
				<h1>{{wellSegue}}</h1>
			</div>
			<div class="row">
				<div class="row">
					<h3>Car Accidents and Deaths</h3>
					<div id="accidents" class="col-md-6 floatLeft col-md-offset-1"></div>
					<div id="collisionsByCate" class="col-md-2 floatLeft"></div>
				</div>
				<h4>Death Rates</h4>
				<div id="deathRates" class="row"></div>
			</div>
				
			<!-- <div class="row">
				<h3>Collisions</h3>
				<div id="collisions" class="row"></div>
			</div> -->
			<div class="row">
				<h3>Collisions by Category</h3>
					<h4>with Other Vehicles</h4>
					<div id="otherVehicles" class="row"></div>
					<h4>with Pedestrians</h4>
					<div id="pedes" class="row"></div>
					<h4>with Fixed Objects</h4>
					<div id="fixedObjs" class="row"></div>
			</div>
			<div class="row">
				<h3>Registered Cars</h3>
					<div class="col-md-6 col-md-offset-3">
						<table class="table">
							<tr>
								<th>Year</th>
								<th>All Vehicles</th>
								<th>Private Commercial Vehicles</th>
							</tr>
								<tr ng-repeat="x in items | filter : 2000">
								<td>{{x.year | date : 'yyyy'}}</td>
								<td>{{x.all_vehicles | number }}</td>
								<td>{{x.private_commercial_vehicles | number }}</td>
							</tr>	
						</table>
					</div>
			</div>
		</div>
	</section>

	<section class="row prosCons" ng-controller="ProsConsCtrl">
		<div class="row banner">
		<h1>we know the cons of driving... <br> what could self-driving cars provide?</h1>
			<div class="list">
				<div class="col-md-3 col-md-offset-2">
					<h3>pros</h3>
					<ul ng-repeat="x in pros">
						<li>{{x}}</li>
					</ul>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<h3>cons</h3>
					<ul ng-repeat="x in cons">
						<li>{{x}}</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="row timeline">
		<div ng-controller="HistoryCtrl">
			<div class="row">
				<h1>how long until you can buy a self-driving car?</h1>
				<span>(hover over the items for more information)</span>
				<div id="timeline"></div>
				<h1>guess you've got to wait until 2040!</h1>
			</div>
		</div>
	</section>
